.start {
  width: 100%;
  /* background: url('/imgs/heroImg.jpg'); */
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(/imgs/heroImg.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: grayscale(80%); */
}

.start img {
  width: 500px;
}

.start > div > div {
  justify-content: center;
}

.start p {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  color: #fff;
  text-align: center;
}