.menus {
  /* width: 100%;
  padding-top: 80px; */
  width: 100%;
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: spacle-evenly;   */
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -15px;
  margin-left: -15px;
}
.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  color: #ff6289;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3rem;
  margin: 0px 0 20px 0px;
}

.img-container {
  position: absolute;
  z-index: -1;
  left: 45%;
  top: 0;
  
}

.card-wrapper {
  width: 50%;
  margin: 0 auto;
}

.menu-card {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 0.6em;
  cursor: pointer;
  z-index: 9999;;
}
.menu-card:hover{
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.image {
  border-radius: 50%;
  border: 2px solid grey;
  display: flex;
}

.menu-name {
  margin-left: 50px;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 1px;
}

.list {
  margin-bottom: 10px;
}

.name {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.price {
  border-bottom: 1px dotted #aaa;
  flex-grow: 1;
  margin: 0 5px;
}

.take-away {
  font-size: 16px;
  flex-direction: column;
  display: inline-flex;
  text-align: right;
  color: darkorange;
  float: right;
}

.ingredients {
  color: #bbb;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 0;
  float: left;
  text-align: left;
}

.allergy {
  font-size: 14px;
  text-align: left;
  float: left;
  color: darkorange;
}

.relative {
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* text-align: center; */
  
  /**/
  /*position absolute and scroll */
  /* background: white;
  padding: 5px;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center; */
}

ul {
  list-style-type: none;
}

.menu-dishes {
  margin-top: 20px;
  transition: opacity 500ms ease;
  flex-direction: column;
  display: flex;
}

.scroll-div {
  text-align: center;
}

.scroll-back {
  border-radius: 50%;
  border: 2px solid;
  background: gray;
  color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  outline: none;
}

.menu-dishes.open {
  opacity: 1;
}

@media (max-width: 1200px) { 
  .card-wrapper {
    width: 70%;
  }
 }

/* @media (min-width: 992px) { ... } */

@media (max-width: 768px) { 
  .card-wrapper {
    width: 80%;
  }
  .img-container {
    left: 55%;
  }
 }
 @media (max-width: 576px) { 
   .menu-card {
     height: 75px;
   }
  .card-wrapper {
    width: 90%;
  }
  .image {
    border-radius: 50%;
    border: 2px solid grey;
    display: flex;
    width: 25%;
  }
  .img-container {
    top: 25%;
    left: -90%;
    background: white;
    opacity: 0.6;
  }
  .menu-name {
    margin-left: 26px;
    font-size: 2.2rem;
    font-weight: 900;
  }
}