.menu {
  width: 100%;
  padding-top: 80px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -15px;
  margin-left: -15px;
}
.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  color: #ff6289;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3rem;
  margin: 0px 0 20px 0px;
}

.img-container {
  position: absolute;
  z-index: -1;
  left: 45%;
  top: 0;
}

.card-wrapper {
  width: 50%;
  margin: 0 auto;
}

.menu-card {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 0.6em;
  cursor: pointer;
  z-index: 9999;;
}
.menu-card:hover{
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.image {
  border-radius: 50%;
  border: 2px solid grey;
  display: flex;
}

.menu-name {
  margin-left: 10px;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 1px;
}

.list {
  margin-bottom: 10px;
}

.name {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.price {
  border-bottom: 1px dotted #aaa;
  flex-grow: 1;
  margin: 0 5px;
}

.take-away {
  font-size: 17px;
  text-align: right;
  color: darkorange;
}

.ingredients {
  color: #bbb;
  margin-bottom: 0;
}

.allergy {
  font-size: 14px;
  text-align: left;
  color: darkorange;
}

.relative {
  background: white;
  padding: 5px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

.dishes {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 500ms ease;
  flex-direction: column;
}

.dishes.open {
  opacity: 1;
}
