.dishes {
  padding: 10px;
  width: 100%;
  background-color: #57544f;
}

.dishes .carousel {
  width: 100%;
  overflow-x: hidden;
}

.dishes .carousel-inner {
  width: 100%;
  display: flex;
  transition: transform 1000ms ease;
}

.dishes .dish {
  margin-right: 5px;
  width: 95%;
  flex-shrink: 0;
}

.dishes .img-wrapper {
  
}

.dishes .text-wrapper {
  
}

.dishes .text-wrapper h2 {
  font-size: 40px;
  color: #ff6289;
}

.dishes .text-wrapper p {
  color: #f2f2f2;
}

.dishes .img-wrapper img {
  width: 100%;
  object-fit: cover;
}

.dishes .carousel-buttons {
  margin-top: 30px;
  display: flex;
}

.dishes .carousel-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 1000ms ease;
  cursor: pointer;
}

.dishes .carousel-btn:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 992px) {
  .dishes {
    padding: 80px 0 0 0;
    /* padding-top: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .dishes .carousel {
    position: relative;
    width: 1050px;
    height: 400px;
  }
  
  .dishes .carousel:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    background-image: linear-gradient(to right, #57544f, rgba(0, 0, 0, 0));
    z-index: 1;
  }
  
  .dishes .carousel:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #57544f);
    z-index: 1;
  }
  
  .dishes .carousel-inner {
    height: 100%;
  }
  
  .dishes .dish {
    width: 100%;
    padding: 0 50px;
    height: 100%;
    display: flex;
  }
  
  .dishes .img-wrapper {
    width: 50%;
  }
  
  .dishes .text-wrapper {
    flex: 1;
    padding-left: 30px;
  }
  
  .dishes .text-wrapper h2 {
    font-size: 50px;
    margin-top: -12px;
  }
  
  .dishes .text-wrapper p {
    
  }
  
  .dishes .img-wrapper img {
    height: 100%;
  }
  
  .dishes .carousel-buttons {
    
  }
  
  .dishes .carousel-btn {
    
  }
  
  .dishes .carousel-btn:not(:last-child) {
    
  }
}