.contact {
    width: 100%;
    padding-top: 80px;
    background: #464440;
    display: flex;
    flex-direction: column;
  }
  
  .contact .row {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* margin-right: -15px;
    margin-left: -15px; */
    justify-content: center;
  }
  .contact .column {
    /* position: relative; */
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .contact .header {
    /* color: #ff6289; */
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    margin: 0px 0 20px 0px;
  }

  .contact .max-width {
    margin: 0 auto;
  }

  .contact .contact-info{
    width: 300px;
    height: 210px;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
  }

  .contact .opening-hours {
    width: 300px;
    height: 210px;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
  }

  .contact .info-header {
    font-size: 35px;
    color: #f2f2f2;
  }

  .contact .info-item {
    font-size: 25px;
    color: #f2f2f2;
  }

  .contact .align-bottom-container {
    margin-top: auto;
    align-items: flex-end;
  }

  .contact .map {
    display: flex;
  }

  .contact .map-style {
    width: 100%;
    height: 360px;
    /* border: 15px solid white; */
    margin-top: auto;
  }

  @media (max-width: 992px) { 
    .contact .contact-info {
        /* width: 100%; */
        margin-bottom: 0;
        margin-right: 0;
    }
    
    .contact .opening-hours {
        margin-left: 0;
        /* width:100%; */
      }
   }

  @media (max-width: 768px) { 
    .contact .map-style {
        height: 220px;
      }
   }
   @media (max-width: 576px) { 
    .contact .opening-hours {
        height: 180px;
    }

    .contact .contact-info {
        height: 180px;
    }

    .contact .info-header {
        font-size: 25px;
        color: #f2f2f2;
      }
    
      .contact .info-item {
        font-size: 15px;
        color: #f2f2f2;
      }

      .contact .map-style {
        height: 280px;
      }
  }