.contact .container {
  margin: auto;
  width: 100%;
  max-width: 992px;
  padding: 0 20px;
}

.footer-flex-wrapper > div {
  width: 100%;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-flex > div {
  width: 100%;
}

.second-city {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .footer-flex > div {
    width: 50%;
  }

  .second-city {
    margin-top: 0;
  }
}

.footer-flex-wrapper h2 {
  margin-top: 15px;
}

.footer-flex h3 {
  color: #ff8c00;
  text-align: center;
  font-size: 24px;
}

@media (min-width: 992px) {
  .footer-flex-wrapper {
    display: flex;
    /* justify-content: space-between; */
  }

  .footer-flex-wrapper h2 {
    margin-top: 0;
  }

  /* .footer-flex > div:first-child {
    margin-right: 60px;
  } */
}

.contact {
    width: 100%;
    /* padding-top: 80px; */
    background: #464440;
    display: flex;
    flex-direction: column;
  }
  
  .contact {
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
  }
  .contact .column {
    position: relative;
    width: 100%;
  }
  
  .contact .header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    margin: 0px 0 20px 0px;
  }

  .contact .contact-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 80px
  }

  .contact .contact-info{
    width: 300px;
    height: 210px;
    text-align: center;
    margin-right: 20px;
    padding: 10px;
  }

  .contact .opening-hours {
    width: 300px;
    height: 210px;
    margin-left: 20px;
    text-align: center;
    padding: 10px;
  }

  .contact .info-header {
    font-size: 40px;
    color: #f2f2f2;
    text-align: center;
  }

  .contact .info-item {
    font-size: 20px;
    color: #f2f2f2;
    text-align: center;
    white-space: nowrap;
  }
  .contact .info-item a {
    color: #f2f2f2;
  }
  .contact .info-extra {
    font-size: 18px;
    color: darkorange;
  }

  .contact .social-contact {
    margin-top: 15px;
    text-align: center;
  }
  .contact .social-contact ul{
    display: inline-flex;
  }
  .contact .social-contact .social-item {
    font-size: 40px;
    color: #f2f2f2;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  .contact a .social-icon {
    color: #f2f2f2;
  }

  .contact a .social-icon:hover {
    color: #b8b4b4;
  }

  .contact .align-bottom-container {
    align-items: flex-end;
  }

  .contact .map {
    display: flex;
  }

  .contact .map-style {
    width: 100%;
    height: 360px;
    /* border: 15px solid white; */
    margin-top: auto;
  }